@font-face {
  font-family: 'Satoshi';
  src: url('@/assets/fonts/Satoshi-Regular.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Satoshi';
  src: url('@/assets/fonts/Satoshi-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Satoshi';
  src: url('@/assets/fonts/Satoshi-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'SatoshiVariable';
  src: url('@/assets/fonts/Satoshi-Variable.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Courier';
  src: url('@/assets/fonts/Courier.ttf');
  font-weight: 400;
}