html {
  font-family: "Satoshi", sans-serif;
  background: #F2F5FF;
}

a {
  text-decoration: none;
  color: rgba(var(--v-theme-accent));
  font-weight: 700;
}

.v-theme--light {
  --v-shadow-key-umbra-opacity: rgba(0,0,0,0.02);
  --v-shadow-key-penumbra-opacity: rgba(0,0,0,0.02);
  --v-theme-on-success: 255,255,255 !important;

  .ui-bordered-light {
    border-color: rgba(210, 218, 255, 0.5) !important;
    border-style: solid !important;
    border-width: 1px;
  }

  .v-divider {
    border-color: rgba(210, 218, 255, 0.5) !important;
  }
}

.v-theme--dark {
  --v-high-emphasis-opacity: 1 !important;
}

html, .v-application {

  .text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6, .text-body-1, .text-body-2, .text-caption, .text-subtitle-1, .text-subtitle-2 {
    font-family: "Satoshi", sans-serif !important;
  }

  .v-expansion-panel-title__overlay {
    background-color: transparent !important;
  }

  .v-radio {

    &.v-selection-control--dirty {

      .v-label {
        color: rgba(var(--v-theme-black)) !important;
        opacity: 1 !important;
      }
    }

    .v-label {
      font-weight: 500;
    }
  }

  .v-card {
    &.v-card--variant-outlined.text-accent {
      border: 1px solid rgba(#D2DAFF, 0.5);
      background: #fff;
    }
  }

  .v-tooltip {
    .v-overlay__content {
      background-color: #1B1B2B;
      font-weight: 500;
      border-radius: 8px;
    }
  }

  .v-divider.bg-accent {
    border-top: 1px solid rgba(#D2DAFF, 0.5);
    background: none !important;

    &.v-divider--vertical {
      border-right: 1px solid rgba(#D2DAFF, 0.5);
    }
  }

  .v-field {
    border-radius: 12px !important;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 3%), 0px 3px 6px rgb(0 0 0 / 2%);
  }

  .v-field__field {
    border-radius: inherit !important;
  }

  .v-field__field input {
    border-radius: inherit !important;
  }

  .v-input__control {
    border-radius: 12px !important;
    background: #fff !important;
  }

  .v-field__outline {
    --v-field-border-opacity: 0.2;
    --v-field-border-width: 1px !important;
    color: #767683 !important;
  }

  .v-table__wrapper {
    thead {
      th {
        background: rgba(#D2DAFF, 0.3);
        border-bottom: 0 !important;

        &:first-child {
          padding-left: 24px !important;
        }

        &:last-child {
          padding-right: 24px !important;
        }
      }
    }
    td {
      border-bottom: 0 !important;

      &:first-child {
        padding-left: 24px !important;
      }

      &:last-child {
        padding-right: 24px !important;
      }
    }
  }

  .v-btn {
    text-transform: none !important;
    font-weight: 700 !important;
    letter-spacing: 0.05em !important;

    .v-btn__content {
      position: relative;
      &::before {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background: currentColor;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  code {
    font-family: 'Courier', Courier, monospace;
  }

  .v-field--variant-outlined .v-field__outline__start {
    border-top-left-radius: inherit !important;
    border-bottom-left-radius: inherit !important;
  }

  .v-field--variant-outlined .v-field__outline__end {
    border-top-right-radius: inherit !important;
    border-bottom-right-radius: inherit !important;
  }
}